"*":
  core:
    disabledPackages: [
      "language-javascript"
      "react"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".tags"
      ".tags_swap"
      "**/lib"
      "**/vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "nucleus-dark-ui"
      "zenburn-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 12
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "9c01e6ac-84bf-033c-157e-2c314f95d618"
  fonts:
    fontFamily: "Hack"
  "language-babel":
    autoIndentJSX: false
  minimap: {}
  welcome:
    showOnStartup: false
